.detail {
	font-size: 1.4rem;
	display: flex;
	padding: 4.5rem;
	background-color: var(--color-grey-light-1);
	border-bottom: 1px solid var(--color-grey-light-2);

	@media screen and (max-width: 56.25em) {
		padding: 3rem;
	}

	@media screen and (max-width: 37.5em) {
		flex-direction: column;
	}
}

.description {
	background-color: #fff;
	font-size: 1.4rem;
	box-shadow: 0 2rem 5rem rgba(#000000, 0.06);
	padding: 3rem;
	flex: 0 0 60%;
	margin-right: 4.5rem;

	@media screen and (max-width: 56.25em) {
		padding: 2rem;
		margin-right: 3rem;
	}
	@media screen and (max-width: 37.5em) {
		margin-right: 0;
		margin-bottom: 3rem;
	}
}

.user-reviews {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

//paragraph
.paragraph:not(:last-of-type) {
	margin-bottom: 2rem;
}

//list
.list {
	list-style: none;

	margin: 3rem 0;
	padding: 3rem 0;
	border-top: 1px solid var(--color-grey-light-2);
	border-bottom: 1px solid var(--color-grey-light-2);

	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 50%;
		margin-bottom: 0.7rem;
	}

	&__item::before {
		content: '';
		display: inline-block;
		height: 1rem;
		width: 1rem;
		margin-right: 0.7rem;

		//older browsers
		//background-image: url(../../img/chevron-thin-right.svg);
		//background-size: cover;

		//newer browsers:- masks
		background-color: var(--color-primary);
		-webkit-mask-image: url('../../img/chevron-thin-right.svg');
		-webkit-mask-size: cover;
		mask-image: url('../../img/chevron-thin-right.svg');
		mask-size: cover;
	}
}

//recommend
.recommend {
	font-size: 1.3rem;
	color: var(--color-grey-dark-3);

	display: flex;
	align-items: center;
	&__count {
		margin-right: auto;
	}
	&__friends {
		display: flex;
	}

	&__img {
		box-sizing: content-box;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		border: 3px solid #fff;

		&:not(:last-child) {
			margin-right: -2rem;
		}
	}
}

//reviews

.review {
	background-color: #fff;
	box-shadow: 0 2rem 5rem rgba(#000000, 0.06);
	padding: 3rem;
	margin-bottom: 3.5rem;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 56.25em) {
		padding: 2rem;
		margin-bottom: 3rem;
	}

	&::before {
		content: '\201C';
		position: absolute;
		line-height: 1;
		top: -3rem;
		left: -1rem;
		font-size: 20rem;
		color: var(--color-grey-light-2);
		font-family: sans-serif;
		z-index: 1;
	}

	&__text {
		margin-bottom: 2rem;
		z-index: 10;
		position: relative;
	}

	&__user {
		display: flex;
		align-items: center;
	}

	&__img {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 50%;
		margin-right: 1.5rem;
	}

	&__user-box {
		margin-right: auto;
	}

	&__user-name {
		font-size: 1.1rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0.4rem;
	}

	&__user-date {
		font-size: 1rem;
		color: var(--color-grey-dark-3);
	}

	&__rating {
		color: var(--color-primary);
		font-size: 2.2rem;
		font-weight: 300;
	}
}

//call to action

.cta {
	padding: 3.5rem 0;
	text-align: center;

	@media screen and (max-width: 56.25em) {
		padding: 2.5rem 0;
	}

	&__book-now {
		font-size: 1.5rem;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 2.5rem;
	}
}

.btn {
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	border: none;
	border-radius: 100px;
	background-image: linear-gradient(
		to right,
		var(--color-primary-light),
		var(--color-primary-dark)
	);
	color: #fff;
	position: relative;
	overflow: hidden;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;

	& > * {
		display: inline-block;
		width: 100%;
		height: 100%;
		transition: all 0.2s;
	}

	&__visible {
		padding: 2rem 7.5rem;
	}
	&__invisible {
		position: absolute;
		padding: 2rem 0;

		left: 0;
		top: -100%;
	}

	&:hover {
		transform: scale(1.1);
		box-shadow: 0 2rem 4rem rgba(#000000, 0.6);
		background-image: linear-gradient(
			to left,
			var(--color-primary-light),
			var(--color-primary-dark)
		);
	}
	&:active {
		transform: scale(1);

		box-shadow: 0 1.5rem 3rem rgba(#000000, 0.3);
	}

	&:focus {
		animation: pulsate 1s infinite;
	}

	&:hover &__visible {
		transform: translateY(100%);
	}

	&:hover &__invisible {
		top: 0;
	}
}
