.hotel-view-container {
	width: 100%;
}

.gallery {
	display: flex;
	&__img {
		width: 100%;
	}
}

.overview {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-grey-light-2);

	&__heading {
		font-size: 2.25rem;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 1.5rem 3rem;

		@media screen and (max-width: 37.5em) {
			font-size: 1.8rem;
			padding: 1.25rem 2rem;
		}
	}

	&__stars {
		margin-right: auto;
		display: flex;
	}
	&__icon-star,
	&__icon-location {
		width: 1.75rem;
		height: 1.75rem;
		fill: var(--color-primary);
	}

	&__location {
		font-size: 1.2rem;
		display: flex;
		vertical-align: center;
	}

	&__icon-location {
		margin-right: 0.5rem;
	}
	&__rating {
		background-color: var(--color-primary);
		color: #fff;
		margin-left: 3rem;
		padding: 0 2.25rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: stretch;

		@media screen and (max-width: 37.5em) {
			padding: 0 1.5rem;
		}
	}

	&__rating-average {
		font-size: 2.25rem;
		font-weight: 300;
		margin-bottom: -0.3rem;
		@media screen and (max-width: 37.5em) {
			font-size: 1.8rem;
		}
	}

	&__rating-count {
		font-size: 1rem;
		text-transform: uppercase;
		@media screen and (max-width: 37.5em) {
			font-size: 0.5rem;
		}
	}
}

.btn-inline {
	border: none;
	outline: none;
	color: var(--color-primary);
	font-size: inherit;
	border-bottom: 1px solid currentColor;
	padding: 2px;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;

	transition: all 0.2s;

	& span {
		margin-left: 3px;
		transition: margin-left 0.3s;
	}

	&:hover {
		color: var(--color-grey-dark-1);
		span {
			margin-left: 8px;
		}
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: none;
	}
	50% {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
	}
	100% {
		transform: scale(1);
		box-shadow: none;
	}
}
